body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #8f8b8b;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.card {
  background: #ed8383;
  padding: 20px;
  margin: 15px auto;
  width: 300px;
  border-radius: 12px;
  border: 2px solid #000000;
  box-shadow: 5px 5px 10px #bcbcbc;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}